@{
    ViewData["Title"] = "Successful Checkout";
}

<section class="checkout-wrapper section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-success">
                    <p>Your order has been successfully processed.</p>
                    <p>Order Number: @ViewBag.orderId</p>
                </div>

                <a class="btn btn-success" asp-controller="Home" asp-action="Index">Return to Shopping</a>
            </div>
        </div>
    </div>
</section>