@{
    ViewData["Title"] = "Successful Checkout";
}

<section class="checkout-wrapper section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 justify-content-center ">
                <div class="success" style="background-color:rgba(0,200,0,0.5);padding:40px; border-radius:10px; margin:20px; text-align:center; color:white; font-size:35px">
                    <p style="font-size:22px;">Your order has been successfully processed.</p>
                    <p style="font-size:22px;">Order Number: @ViewBag.orderId</p>
                </div>
            </div>
                <a class="btn btn-success col-3" asp-controller="HomePage" asp-action="Index">Return to Shopping</a>
        </div>
    </div>
</section>