<!DOCTYPE html>
<html class="no-js" lang="zxx">


<!-- Mirrored from demo.graygrids.com/themes/shopgrids/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Apr 2024 20:44:01 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ShopGrids - Bootstrap 5 eCommerce HTML Template.</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/shopgrids/assets/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="~/shopgrids/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/shopgrids/assets/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="~/shopgrids/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="~/shopgrids/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="~/shopgrids/assets/css/main.css" />

</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->
    <!-- Start Header Area -->
    @await Html.PartialAsync("/Views/Shared/UIPartialViews/_HeaderPV.cshtml")
    <!-- End Header Area -->
    @RenderBody()
    <!-- Start Footer Area -->
    @await Html.PartialAsync("/Views/Shared/UIPartialViews/_FooterPV.cshtml")
    <!--/ End Footer Area -->
    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    @await Html.PartialAsync("/Views/Shared/UIPartialViews/_JsPV.cshtml")


</body>


<!-- Mirrored from demo.graygrids.com/themes/shopgrids/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Apr 2024 20:44:01 GMT -->


</html>