@using SparkNest.UI.MVC.Models.Product

@model List<CategoryVM>

<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-8 col-md-6 col-12">
            <div class="nav-inner">
                <!-- Start Mega Category Menu -->
                <div class="mega-category-menu">
                    <span class="cat-button"><i class="lni lni-menu"></i>All Categories</span>
                    <ul class="sub-category">
                        <li>
                            @foreach (var cat in Model)
                            {
                                @if (cat.SubCategoryId is null)
                                {
                                    <a href="product-grids.html">@cat.Name<i class="lni lni-chevron-right"></i></a>
                                    @foreach (var cat2 in Model)
                                    {
                                        <ul class="inner-sub-category">
                                            @if (cat2.SubCategoryId == cat.Id)
                                            {
                                                <li><a href="product-grids.html">@cat2.Name</a></li>
                                            }
                                        </ul>
                                    }
                                }
                            }
                        </li>

                    </ul>
                </div>
                <!-- End Mega Category Menu -->
                <!-- Start Navbar -->
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul id="nav" class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index"  class="active" aria-label="Toggle navigation">Home</a>
                            </li>
                        
                        </ul>
                    </div> <!-- navbar collapse -->
                </nav>
                <!-- End Navbar -->
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Nav Social -->
            <div class="nav-social">
                <h5 class="title">Follow Us:</h5>
                <ul>
                    <li>
                        <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="lni lni-instagram"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="lni lni-skype"></i></a>
                    </li>
                </ul>
            </div>
            <!-- End Nav Social -->
        </div>
    </div>
</div>