@model UserVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
        <div class="container mt-5">
        <div class="row">
            <div class="col-10">
                <h1>User Information</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">ID</th>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <th scope="row">Username</th>
                            <td>@Model.UserName</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <th scope="row">Country</th>
                            <td>@Model.Countyr</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                <a asp-action="Index" asp-controller="Products" class="alert-info">
                    My Products
                </a>
            </div>
        </div>
    </div>

</body>
</html>
