@{
    Layout = "_UILayout";
}

 <!-- Start Hero Area -->

<!-- End Hero Area -->
<!-- Start Featured Categories Area -->
@await Component.InvokeAsync("HomePageCategoryVC")

<!-- End Features Area -->
<!-- Start Trending Product Area -->
@await Component.InvokeAsync("HomePageProductVC")
<!-- End Trending Product Area -->
<!-- Start Banner Area -->
<!-- End Banner Area -->
<!-- Start Special Offer -->
<!-- End Special Offer -->
<!-- Start Home Product List -->
<!-- End Home Product List -->
<!-- Start Brands Area -->
<div class="brands">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <h2 class="title">Popular Brands</h2>
            </div>
        </div>
        <div class="brands-logo-wrapper">
            <div class="brands-logo-carousel d-flex align-items-center justify-content-between">
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/01.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/02.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/03.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/04.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/05.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/06.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/03.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/04.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brands Area -->
<!-- Start Blog Section Area -->
@await Component.InvokeAsync("HomePageBlogsVC")
<!-- End Blog Section Area -->
<!-- Start Shipping Info -->
<section class="shipping-info">
    <div class="container">
        <ul>
            <!-- Free Shipping -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-delivery"></i>
                </div>
                <div class="media-body">
                    <h5>Free Shipping</h5>
                    <span>On order over $99</span>
                </div>
            </li>
            <!-- Money Return -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-support"></i>
                </div>
                <div class="media-body">
                    <h5>24/7 Support.</h5>
                    <span>Live Chat Or Call.</span>
                </div>
            </li>
            <!-- Support 24/7 -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-credit-cards"></i>
                </div>
                <div class="media-body">
                    <h5>Online Payment.</h5>
                    <span>Secure Payment Services.</span>
                </div>
            </li>
            <!-- Safe Payment -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-reload"></i>
                </div>
                <div class="media-body">
                    <h5>Easy Return.</h5>
                    <span>Hassle Free Shopping.</span>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- End Shipping Info -->
