@{
    Layout = "_UILayout";
}

 <!-- Start Hero Area -->

<!-- End Hero Area -->
<!-- Start Featured Categories Area -->
@await Component.InvokeAsync("HomePageCategoryVC")

<!-- End Features Area -->
<!-- Start Trending Product Area -->
@await Component.InvokeAsync("HomePageProductVC")
<!-- End Trending Product Area -->
<!-- Start Banner Area -->
<!-- End Banner Area -->
<!-- Start Special Offer -->
<!-- End Special Offer -->
<!-- Start Home Product List -->
<!-- End Home Product List -->
<!-- Start Brands Area -->
<div class="brands">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <h2 class="title">Popular Brands</h2>
            </div>
        </div>
        <div class="brands-logo-wrapper">
            <div class="brands-logo-carousel d-flex align-items-center justify-content-between">
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/01.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/02.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/03.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/04.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/05.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/06.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/03.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/04.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brands Area -->
<!-- Start Blog Section Area -->
<section class="blog-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Our Latest News</h2>
                    <p>
                        There are many variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Blog -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-single-sidebar.html">
                            <img src="~/shopgrids/assets/images/blog/blog-1.jpg" alt="#">
                        </a>
                    </div>
                    <div class="blog-content">
                        <a class="category" href="javascript:void(0)">eCommerce</a>
                        <h4>
                            <a href="blog-single-sidebar.html">What information is needed for shipping?</a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt.
                        </p>
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Blog -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-single-sidebar.html">
                            <img src="~/shopgrids/assets/images/blog/blog-2.jpg" alt="#">
                        </a>
                    </div>
                    <div class="blog-content">
                        <a class="category" href="javascript:void(0)">Gaming</a>
                        <h4>
                            <a href="blog-single-sidebar.html">Interesting fact about gaming consoles</a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt.
                        </p>
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Blog -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-single-sidebar.html">
                            <img src="~/shopgrids/assets/images/blog/blog-3.jpg" alt="#">
                        </a>
                    </div>
                    <div class="blog-content">
                        <a class="category" href="javascript:void(0)">Electronic</a>
                        <h4>
                            <a href="blog-single-sidebar.html">
                                Electronics, instrumentation & control engineering
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt.
                        </p>
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
        </div>
    </div>
</section>
<!-- End Blog Section Area -->
<!-- Start Shipping Info -->
<section class="shipping-info">
    <div class="container">
        <ul>
            <!-- Free Shipping -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-delivery"></i>
                </div>
                <div class="media-body">
                    <h5>Free Shipping</h5>
                    <span>On order over $99</span>
                </div>
            </li>
            <!-- Money Return -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-support"></i>
                </div>
                <div class="media-body">
                    <h5>24/7 Support.</h5>
                    <span>Live Chat Or Call.</span>
                </div>
            </li>
            <!-- Support 24/7 -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-credit-cards"></i>
                </div>
                <div class="media-body">
                    <h5>Online Payment.</h5>
                    <span>Secure Payment Services.</span>
                </div>
            </li>
            <!-- Safe Payment -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-reload"></i>
                </div>
                <div class="media-body">
                    <h5>Easy Return.</h5>
                    <span>Hassle Free Shopping.</span>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- End Shipping Info -->
