@{
    Layout = "_UILayout";
}

 <!-- Start Hero Area -->

<!-- End Hero Area -->
<!-- Start Featured Categories Area -->
<section class="featured-categories section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Featured Categories</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">TV & Audios</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="~/shopgrids/assets/images/featured-categories/fetured-item-1.png" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">Desktop & Laptop</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="~/shopgrids/assets/images/featured-categories/fetured-item-2.png" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">Cctv Camera</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="~/shopgrids/assets/images/featured-categories/fetured-item-3.png" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">Dslr Camera</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="~/shopgrids/assets/images/featured-categories/fetured-item-4.png" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">Smart Phones</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="~/shopgrids/assets/images/featured-categories/fetured-item-5.png" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Category -->
                <div class="single-category">
                    <h3 class="heading">Game Console</h3>
                    <ul>
                        <li><a href="product-grids.html">Smart Television</a></li>
                        <li><a href="product-grids.html">QLED TV</a></li>
                        <li><a href="product-grids.html">Audios</a></li>
                        <li><a href="product-grids.html">Headphones</a></li>
                        <li><a href="product-grids.html">View All</a></li>
                    </ul>
                    <div class="images">
                        <img src="~/shopgrids/assets/images/featured-categories/fetured-item-6.png" alt="#">
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->
<!-- Start Trending Product Area -->
@await Component.InvokeAsync("HomePageProductVC")
<!-- End Trending Product Area -->
<!-- Start Banner Area -->
<!-- End Banner Area -->
<!-- Start Special Offer -->
<!-- End Special Offer -->
<!-- Start Home Product List -->
<section class="home-product-list section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin">
                <h4 class="list-title">Best Sellers</h4>
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="product-grids.html"><img src="~/shopgrids/assets/images/home-product-list/01.jpg" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="product-grids.html">GoPro Hero4 Silver</a>
                        </h3>
                        <span>$287.99</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="product-grids.html"><img src="~/shopgrids/assets/images/home-product-list/02.jpg" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="product-grids.html">Puro Sound Labs BT2200</a>
                        </h3>
                        <span>$95.00</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="product-grids.html"><img src="~/shopgrids/assets/images/home-product-list/03.jpg" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="product-grids.html">HP OfficeJet Pro 8710</a>
                        </h3>
                        <span>$120.00</span>
                    </div>
                </div>
                <!-- End Single List -->
            </div>
            <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin">
                <h4 class="list-title">New Arrivals</h4>
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="product-grids.html"><img src="~/shopgrids/assets/images/home-product-list/04.jpg" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="product-grids.html">iPhone X 256 GB Space Gray</a>
                        </h3>
                        <span>$1150.00</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="product-grids.html"><img src="~/shopgrids/assets/images/home-product-list/05.jpg" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="product-grids.html">Canon EOS M50 Mirrorless Camera</a>
                        </h3>
                        <span>$950.00</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="product-grids.html"><img src="~/shopgrids/assets/images/home-product-list/06.jpg" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="product-grids.html">Microsoft Xbox One S</a>
                        </h3>
                        <span>$298.00</span>
                    </div>
                </div>
                <!-- End Single List -->
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <h4 class="list-title">Top Rated</h4>
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="product-grids.html"><img src="~/shopgrids/assets/images/home-product-list/07.jpg" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="product-grids.html">Samsung Gear 360 VR Camera</a>
                        </h3>
                        <span>$68.00</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="product-grids.html"><img src="~/shopgrids/assets/images/home-product-list/08.jpg" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="product-grids.html">Samsung Galaxy S9+ 64 GB</a>
                        </h3>
                        <span>$840.00</span>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Start Single List -->
                <div class="single-list">
                    <div class="list-image">
                        <a href="product-grids.html"><img src="~/shopgrids/assets/images/home-product-list/09.jpg" alt="#"></a>
                    </div>
                    <div class="list-info">
                        <h3>
                            <a href="product-grids.html">Zeus Bluetooth Headphones</a>
                        </h3>
                        <span>$28.00</span>
                    </div>
                </div>
                <!-- End Single List -->
            </div>
        </div>
    </div>
</section>
<!-- End Home Product List -->
<!-- Start Brands Area -->
<div class="brands">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <h2 class="title">Popular Brands</h2>
            </div>
        </div>
        <div class="brands-logo-wrapper">
            <div class="brands-logo-carousel d-flex align-items-center justify-content-between">
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/01.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/02.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/03.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/04.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/05.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/06.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/03.png" alt="#">
                </div>
                <div class="brand-logo">
                    <img src="~/shopgrids/assets/images/brands/04.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brands Area -->
<!-- Start Blog Section Area -->
<section class="blog-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Our Latest News</h2>
                    <p>
                        There are many variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Blog -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-single-sidebar.html">
                            <img src="~/shopgrids/assets/images/blog/blog-1.jpg" alt="#">
                        </a>
                    </div>
                    <div class="blog-content">
                        <a class="category" href="javascript:void(0)">eCommerce</a>
                        <h4>
                            <a href="blog-single-sidebar.html">What information is needed for shipping?</a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt.
                        </p>
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Blog -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-single-sidebar.html">
                            <img src="~/shopgrids/assets/images/blog/blog-2.jpg" alt="#">
                        </a>
                    </div>
                    <div class="blog-content">
                        <a class="category" href="javascript:void(0)">Gaming</a>
                        <h4>
                            <a href="blog-single-sidebar.html">Interesting fact about gaming consoles</a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt.
                        </p>
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Blog -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-single-sidebar.html">
                            <img src="~/shopgrids/assets/images/blog/blog-3.jpg" alt="#">
                        </a>
                    </div>
                    <div class="blog-content">
                        <a class="category" href="javascript:void(0)">Electronic</a>
                        <h4>
                            <a href="blog-single-sidebar.html">
                                Electronics, instrumentation & control engineering
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt.
                        </p>
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
        </div>
    </div>
</section>
<!-- End Blog Section Area -->
<!-- Start Shipping Info -->
<section class="shipping-info">
    <div class="container">
        <ul>
            <!-- Free Shipping -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-delivery"></i>
                </div>
                <div class="media-body">
                    <h5>Free Shipping</h5>
                    <span>On order over $99</span>
                </div>
            </li>
            <!-- Money Return -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-support"></i>
                </div>
                <div class="media-body">
                    <h5>24/7 Support.</h5>
                    <span>Live Chat Or Call.</span>
                </div>
            </li>
            <!-- Support 24/7 -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-credit-cards"></i>
                </div>
                <div class="media-body">
                    <h5>Online Payment.</h5>
                    <span>Secure Payment Services.</span>
                </div>
            </li>
            <!-- Safe Payment -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-reload"></i>
                </div>
                <div class="media-body">
                    <h5>Easy Return.</h5>
                    <span>Hassle Free Shopping.</span>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- End Shipping Info -->
