@using SparkNest.UI.MVC.Models.Comment
@model List<CommentVM>

<div class="row">
    <div class=" col-5">
        <div class="single-block give-review">
            <!-- Assuming you want to include reviews -->
            <h4>Reviews</h4>
            <div class=" col-12">
                <div class="single-block">
                    <div class="reviews">
                        <h4 class="title">Latest Reviews</h4>
                        <!-- Start Single Review -->
                        @foreach (var comment in Model)
                        {
                            <div class="single-review">
                                <img src="@(comment.PhotoUrl??"assets/images/blog/comment1.jpg")" alt="#">
                                <div class="review-info">
                                    <h4>
                                        <span>
                                            @comment.UserName
                                        </span>
                                    </h4>
                                    <p>
                                        @comment.Content
                                    </p>
                                </div>
                            </div>
                        }
                        <!-- End Single Review -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row justify-content-center">
            <div class="">
                @if (User.Identity.IsAuthenticated)
                {
                    @await Component.InvokeAsync("ProductCommentPostVC", new
                        {
                            ProductId = ViewBag.PId
                        })
                }
                else
                {
                    <div class="alert alert-danger">If you want to leave a comment, please sign in.</div>
                }
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="row justify-content-center">
            @await Component.InvokeAsync("ProductRatePostVC", new
                {
                    ProductId = ViewBag.PId
                })
        </div>
    </div>
</div>