<div class="widget search-widget">
    <h5 class="widget-title">Subscribe to SparkNest news📰.</h5>
    <form> 
        <input type="email" placeholder="Search Here..." name="email" id="subscriberEmail">
        <button type="button" onclick="subscribe(this)">📧</button>
    </form>
</div>