@using SparkNest.UI.MVC.Models.Product
@model List<ProductVM>


<section class="trending-product section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Trending Product</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">


            @foreach (var product in Model)
            {

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="@product.PhotoFileStockUrl" alt="#">
                            @if (product.DiscountPercentage is not null)
                            {
                                <span class="sale-tag">-@product.DiscountPercentage%</span>
                            }
                            <div class="button">
                                <a asp-controller="Home" asp-action="Detail" class="btn btn-success" asp-route-id="@product.Id" class="btn"><i class="lni lni-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">@product?.Category?.Name</span>
                            <h4 class="title">
                                <a href="product-grids.html">@product?.Name</a>
                            </h4>
                            <ul class="review">
                                @for (var i = 0; i < product.RatingCommon; i++)
                                {
                                    <lki><i class="lni lni-star-filled" style="color:yellow;"></i></lki>
                                }
                                <li><span>@product.RateCount Review(s) </span></li>
                            </ul>
                            <div class="price">
                                <span>$@(product.PriceDiscount == null ? product.Price : product.PriceDiscount)</span>
                                @if (product.PriceDiscount is not null)
                                {
                                    <span class="discount-price">$@product.Price</span>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>

            }

        </div>
    </div>
</section>